.btn{
    border-radius: 10rem ;
    padding: 0.5rem 2.24rem ;
}
.header {
    height: 100vh;
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.3)),url(/images/background.png);
    background-size: cover;
    color: #FFF; 
}
.backimage{
    background: url(/images/jj-shev.png);
    
}

.h-100{
    height: 100%;
    width: 100%;
}
.h1{
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    font-size: 140px;
    line-height: 153px;
    letter-spacing: -0.02em;
}
.h4{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
/* .message{
    color: #fff;
    
} */
.picktrip{
    color: #fff;
    font-family: 'Old Standard TT', serif;
    font-size: 72px;
    font-weight: bold;
    letter-spacing: -0.02em;
    margin-top: 25px;

}
.picmsg{
    color: #fff;
    margin-top: 50px;
    font-family:'Poppins', sans-serif ;
    font-size: 16px;
}
.col-6{
    color:#fff;
}
.about{
    background: url(/images/background.png);
}
.card-body{
    color: #fff;
}
.card{
    background: #02223b;
    color:#fff;
    text-align:unset;
}
.rowcolore{
    background:#011627 ;
}

.peoplestext{
     color: #fff;
     font-family: 'Old Standard TT', serif;
     font-weight: bold;
     font-size: 72px;
     line-height: 110%;
     text-align: center;
     letter-spacing: -0.02em;
}
.peoplemsg{
    color:#fff;
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.02em;
}
.footerbody{
    background-image: linear-gradient(to top,#011627 100%, #011627 100%, #011627 50%, #011627 40%);
    
}
.Copyrights{
    text-align: center;
    color: #fff;
}
.founder{
    list-style: none;
    width: 100%; 
}
.founder li{
    display: block;
    float: left;
    width: 50%;
}
.card-photo{
    
    width:100%;
    margin: 0;
}
.card-photo li{

    width: 100%;
    height: auto;
}
.card-title-one{
    font-size: 65px;
    font-family: 'Old Standard TT', serif;
    font-weight: bold;
    letter-spacing: -0.02em;
}
.card-text-one{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 18px;

}
.card-img-bottom{
    
    width: 65px;
    height: 65px;
    margin: 20px 10px 30px 10px;
    
}
.i-text{
    font-size: 20px;
}
.card-img-col{
    width: 10;
    height: 5;
}
.card-title{
    margin-left: 30px;
}
.card-text{
    margin-left: 30px;
}
.social-logo{
    text-align: right;
    margin-top:15px ;
     
}
.footer-col h5{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h5::before{
    content: '';
    position: absolute;
    left: 0;
    bottom:-10px;
    background-color:#39cfbf ;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px ;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    color: #bbb;
    display: block;
    transition:all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
}
.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#39cfbf;
    transition: all 0.5s ease;
}
.footer-col .social-link a:hover{
    color: #fff;
}
.social-logo ul li a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#39cfbf;
    transition: all 0.5s ease;
}
.social-logo ul li a:hover{
   
    color:#FFF;
}
.chillNav{
    font-size: 20px;
    font-family:'Poppins', sans-serif ;
    margin-bottom: 20px;
}
